/* 颜色工具类 */

/* 背景颜色 */
.bg-primary {
  background-color: rgba(var(--primary), 1) !important;
}

.bg-secondary {
  background-color: rgba(var(--secondary), 1) !important;
}

.bg-success {
  background-color: rgba(var(--success), 1) !important;
}

.bg-danger {
  background-color: rgba(var(--danger), 1) !important;
}

.bg-warning {
  background-color: rgba(var(--warning), 1) !important;
}

.bg-info {
  background-color: rgba(83, 90, 231, 1) !important;
}

.bg-light {
  background-color: var(--light-gray) !important;
}

.bg-dark {
  background-color: rgba(var(--dark), 1) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

/* 文本颜色 */
.text-primary {
  color: rgba(var(--primary), 1) !important;
}

.text-secondary {
  color: rgba(var(--secondary), 1) !important;
}

.text-success {
  color: rgba(var(--success), 1) !important;
}

.text-danger {
  color: rgba(var(--danger), 1) !important;
}

.text-warning {
  color: rgba(var(--warning), 1) !important;
}

.text-info {
  color: rgba(83, 90, 231, 1) !important;
}

.text-light {
  color: var(--light-gray) !important;
}

.text-dark {
  color: rgba(var(--dark), 1) !important;
}

.text-muted {
  color: var(--font-light-color) !important;
}

/* 边框颜色 */

/* 主题颜色工具类 */

