/* 颜色工具类 */

/* 背景颜色 */
.bg-primary {
  background-color: var(--el-color-primary) !important;
}

.bg-secondary {
  background-color: rgb(var(--gray-500)) !important;
}

.bg-success {
  background-color: rgb(var(--success)) !important;
}

.bg-danger {
  background-color: rgb(var(--danger)) !important;
}

.bg-warning {
  background-color: rgb(var(--warning)) !important;
}

.bg-info {
  background-color: rgb(var(--gray-500)) !important;
}

.bg-light {
  background-color: rgb(var(--gray-100)) !important;
}

.bg-dark {
  background-color: rgb(var(--gray-800)) !important;
}

.bg-white {
  background-color: rgb(var(--white)) !important;
}

/* 文本颜色 */
.text-primary {
  color: var(--el-color-primary) !important;
}

.text-secondary {
  color: rgb(var(--gray-600)) !important;
}

.text-success {
  color: rgb(var(--success)) !important;
}

.text-danger {
  color: rgb(var(--danger)) !important;
}

.text-warning {
  color: rgb(var(--warning)) !important;
}

.text-info {
  color: rgb(var(--gray-500)) !important;
}

.text-light {
  color: rgb(var(--gray-300)) !important;
}

.text-dark {
  color: rgb(var(--gray-800)) !important;
}



/* 边框颜色 */

/* 主题颜色工具类 */
